@keyframes gaming {
    100% { background-position-x: 200%; }
}

.Avatar {
    position: absolute;
    z-index: 50;
    width: 306px;
    height: 332px;
    left: 1562px;
    top: 791px;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('../assets/avatar/image-normal-close.png');
}
.Avatar[data-open="true"] {
    background-image: url('../assets/avatar/image-normal-open.png');
}

.Avatar[data-is8bit="true"] {
    background-image: url('../assets/avatar/image-8bit-close.png');
}
.Avatar[data-is8bit="true"][data-open="true"] {
    background-image: url('../assets/avatar/image-8bit-open.png');
}

.Avatar[data-gaming="true"]::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, Magenta, yellow, Cyan, Magenta) 0% center / 200%;
    animation: gaming 2s linear infinite;
    mix-blend-mode: multiply;
    mask-image: url('../assets/avatar/image-normal-close.png');
    mask-size: contain;
    mask-position: center center;
}
.Avatar[data-gaming="true"][data-open="true"]::after {
    mask-image: url('../assets/avatar/image-normal-open.png');
}

.Avatar[data-gaming="true"][data-is8bit="true"]::after {
    mask-image: url('../assets/avatar/image-8bit-close.png');
}
.Avatar[data-gaming="true"][data-is8bit="true"][data-open="true"]::after {
    mask-image: url('../assets/avatar/image-8bit-open.png');
}