.Dino {
    @apply absolute bottom-0;
    width: 160px;
    height: 200px;
    z-index: 3;
    transform-origin: center bottom;
}

.Dino[data-direction="0"] {
    transform: scale(-1, 1);
}
.Dino[data-direction="1"] {
    transform: scale(1, 1);
}

.Dino[data-build="0"] {
    z-index: 5;
}
.Dino[data-build="1"] {
    z-index: 3;
}
.Dino[data-build="1"][data-direction="0"] {
    transform: scale(-0.8, 0.8) translateY(-40px);
}
.Dino[data-build="1"][data-direction="1"] {
    transform: scale(0.8) translateY(-40px);
}
.Dino[data-build="2"] {
    z-index: 1;
}
.Dino[data-build="2"][data-direction="0"] {
    transform: scale(-0.6, 0.6) translateY(-80px);
}
.Dino[data-build="2"][data-direction="1"] {
    transform: scale(0.6) translateY(-80px);
}

.Dino__inner {
    background-repeat: no-repeat;
    width: 160px;
    height: 200px;
    transform: translateX(0px);
}