.Rain {
    @apply absolute inset-0 z-50;

    pointer-events: none;
}

.Rain__rains{
  position: absolute;
  left:0;
  top:0;
  width: 100%;
  height:100%;
}

/*widthは雨の太さ、heightは長さ*/
.Rain__rains {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  opacity: 0.8;
}
.Rain__rains span {
  width: 1px;
  height: 0vh;
  background: #999;
  animation: falldown 1s infinite;
  height: 10%;
  margin-top: -10%;
}
@keyframes falldown {
  0% {
    margin-top: -10%;
  }
  100% {
    margin-top: 100%;
  }
}