.WireTime {
    @apply absolute border-solid border-white bg-black flex items-center justify-center text-white leading-none;

    left: 0;
    top: 0;
    width: calc(328px - var(--wire-border-width));
    height: calc(112px - var(--wire-border-width));
    border-width: 0 var(--wire-border-width) var(--wire-border-width) 0;
    border-radius: 0 0 var(--wire-border-width) 0;
    font-family: 'k12x8';
    font-weight: bold;
    -webkit-font-smoothing: none;
}

.WireTime__text {
    font-size: 52px;
}

.WireTime__small {
    margin-left: 10px;
    font-size: 36px;
}

.WireTime__sep {
    font-size: 40px;
}
.WireTime__sep__hide {
    visibility: hidden;
}