.WireTimeAnalogue {
    @apply absolute bg-black flex items-center justify-center text-white leading-none;

    @apply border-solid border-white;
    border-width: var(--wire-border-width);

    --wire-time-size: 146px;

    left: -31px;
    top: -31px;
    width: calc(var(--wire-time-size) - var(--wire-border-width));
    height: calc(var(--wire-time-size) - var(--wire-border-width));
    border-radius: 0 0 50% 0;
}

.WireTimeAnalogue__hour {
    @apply absolute bg-white;

    width: var(--wire-border-width);
    height: calc(var(--wire-time-size) * 0.1875);
    bottom: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
    transform-origin: center bottom;
}

.WireTimeAnalogue__minute {
    @apply absolute bg-white;

    width: calc(var(--wire-border-width) / 2);
    height: calc(var(--wire-time-size) * 0.3125);
    bottom: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
    transform-origin: center bottom;
}

.WireTimeAnalogue__second {
    @apply absolute bg-white;

    width: 1px;
    height: calc(var(--wire-time-size) * 0.375);
    bottom: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
    transform-origin: center bottom;
}