.App {
    @apply relative;

    width: var(--screen-width);
    height: var(--screen-height);
    overflow: hidden;
}

.App__cat {
    @apply absolute;

    left: 322px;
    top: 0;
    width: 1220px;
    height: 84px;
}

.App__land {
    @apply absolute;

    left: 0;
    bottom: 0;
    width: var(--screen-width);
    height: 200px;
}

.App__car {
    @apply absolute;

    left: 0;
    bottom: 0;
    width: var(--screen-width);
    height: 200px;
}